@font-face {
	font-family: "IntelOneMono";
	src: url("../../../media/fonts/IntelOneMono-Regular.ttf");
}

* {
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	height: 100%;
	font-family: "IntelOneMono", Cantarell, sans-serif;
	font-size: 20px;
}

body {
	/* color palette */
	--white: #FFFFFF;
	--cadet-gray: #8099A8;
	--paynes-gray: #40657C;
	--prussian-blue: #003250;

	display: flex;
	flex-flow: column nowrap;
	color: var(--white);
	background-color: var(--paynes-gray);
}

/* styling the header */

.header {
	padding: 20px;
	background-color: var(--prussian-blue);
	display: flex;
	flex-flow: row wrap;
	gap: 40px;
	justify-content: space-around;
	align-items: center;
}

.header > .profile > .username {
	font-weight: bold;
	font-size: 1.8rem;
}

.header > ul {
	display: flex;
	flex-flow: row wrap;
	gap: 50px;
	list-style-type: none;
}

.header > ul a {
	font-size: 1.25rem;
}

.header a {
	color: var(--white);
	text-decoration: none;
}

.header a:hover{
	color: #3882F6;
}

/* styling the footer */

.footer {
	margin-top: auto;
	background-color: var(--prussian-blue);
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}